@media (max-width: 576px){


    .menu-link {
        font-size: 12px !important;
        padding-left: 10px !important;
    }

    .container {
        max-width: 370px;
        padding: 0 15px;
        margin: auto;
    }

    .about-container {
        padding-top: 18px !important;
    }

    .pointer{
        display: none;
    }

    .find-title h2{
        font-size: 30px;

    }

    .find-title {
        top: 50px!important;
    }

    .find-text {
        font-size: 9px !important;
        line-height: 1.3 !important;
        padding-top: 20px !important;
        width: 200px!important;
    }

    .green-img {
        width: 35% !important;
        left: -13px!important;
        top: -20px;
    }

    .green-img span {
        left: 24px!important;
        top: 32px!important;
        font-size: 9px!important;
    }

    .title{
        font-size: 20px!important;
        margin-bottom: 10px!important;
    }

    .about-text {
        font-size: 10px !important;
    }

    .subtitle span {
        line-height: 16px !important;
        font-size: 10px !important;
    }

    .ourCourse-container {
        padding: 50px 0 0 !important;
    }

    .course-header{
        font-size: 18px!important;
    }

    .course-box {
        padding-bottom: 20px !important;
        margin: 0 !important;

    }

    .course-title {
        font-size: 12px !important;
        padding: 0 0 0 10px!important;
    }

    .range {
        width: 20px!important;
        height: 20px!important;
        min-height: 20px!important;
        min-width: 20px!important;
        font-size: 12px!important;
        font-weight: 500!important;

    }




    }
